*{
    margin: 0;
    padding: 0;
}
.formulario{
    margin-left: 310px;
    margin-top: 40px;
    padding: 8%;
    width: 50%;
    height: 70%;
    border: 1px solid white;
}
.fondo{
    width: 80%;
    height: 100%;
}
.btn{
    background-color: rgb(206, 68, 165);
    font-weight: bold;
}

